<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ceiba.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1524D20E28B46D9000A6C2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1524D22428B46D9600A6C2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1524D22E28B46D9600A6C2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
